
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body{
    background-color: rgb(240, 240, 240);
}

.card-top{
    margin-top: 50px;
}

.card{
    border-radius: 8px;
    box-shadow: 1px 1px 20px rgb(192, 192, 192);
}

.sub-title{
    margin:  25px 0;
}

.logo-brand{
    height: 45px;
}
.logo-brand:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
}
.banner{
    background: url(../image/banner.jpg);
    background-size: cover;
    min-height: 800px;
}